# 忽略文件
*fastq.gz
*fq.gz
*fq
*fasta.gz
*fa.gz
*fa
*.rds
*.ipynb
*.pth
*.pt
Rplots.pdf

## 忽略 Python 编译文件
*.pyc
__pycache__/

## 忽略虚拟环境目录
venv
env

## 忽略日志文件
*.log
*nohup.out*
*sh.e*
*sh.o*

## 忽略临时文件
*.tmp
*.swp


# 忽略文件夹
input/
data_local/
code/
result*/
*outdir/
*output/
bak/
.ipynb_checkpoints/
space_input/
Mint_FFPE_96_96_1119/
PXL_NJU_ST_Lib/